---
layout: default
title: Podcasts
---

<h1>Podcasts</h1>

{% assign podcasts = site.podcasts | sort: 'date' %}

{% for podcast in site.podcasts %}
<div class="row content-container">
    <!-- <div class="col-sm-12"> -->
        <h2 class="post-overview-title"><a class="post-link" href="{{ podcast.url }}">{{ podcast.title | truncate: 70 }}</a></h2>
        <!-- <span class="post-meta">
            {{ post.date | date: "%b %-d, %Y" }}
        </span> -->
            <hr />
        <!-- </div> -->

    <ul class="post-list">
        <li>
            <div class="col-lg-6 post-image-container">
                <div class="post-excerpts">


                            <a href="{{podcast.url}}">
                    {% if podcast.use_youtube_image == true %}
                    <img src="https://img.youtube.com/vi/{{post.youtube_code | remove: 'https://youtu.be/' | remove: 'https://www.youtube.com/watch?v='}}/maxresdefault.jpg" alt="{{post.title}}" class="post-image" />
                    {% else %}
                                    {% if podcast.youtube_alternate_image != null %}
                            <img src="{{podcast.youtube_alternate_image}}" alt="{{podcast.title}}" class="post-image"/>
                                    {% else %}
                                        <img src="{{ site.data.settings.images.post_cover }}" alt="{{podcast.title}}" class="post-image"/>
                                    {% endif %}
                    {% endif %}
                </a>
                </div>
            </div>
            <div class="col-lg-6">
                {{ podcast.excerpt | strip_html | prepend: "<p class='excerpt'>" | append: "<p>" | truncate: 160 }}
                <p class="readlink"><a href="{{podcast.url}}" class="readmore">Read More</a></p>
            </div>
        </li>
    </ul>
</div>
{% endfor %}